DATABASE_URL=postgresql://tasker:tasker@localhost:5432/tasker
APP_DATABASE_URL=postgresql://tasker:tasker@localhost:5432/example_fastapi
TASKER_CONFIG_PATH=app/config/worker.toml
TASKER_TEMPLATE_PATH=app/config/templates
TASKER_ENV=development
